

body {
	align-content: center;
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:#eae9e5;
	color: #444444;  
	line-height: 14pt;  
	padding-left: 5pt;  
	padding-right: 5pt;
	padding-top: 5pt;
	align-content: center;
  
  }
  
  div {	
	text-align:center;
  }
  .nav-button {
	
	border: none;
	color:white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	}
.btnSmall {
	
	border: none;
	color:white;
	padding: 7px 14px;
	text-align: center;
	text-decoration: none;
	background:#0f8d92;
	display: inline-block;
	font-size: 14px;
	margin: 2px 2px;
	cursor: pointer;
	}

  h1 {
  
	font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;  
	font-weight: bold;  
	line-height: 20pt;
	text-align:center;
  }
  
 
  table{
	align-self: center;
	border-spacing: 0.5rem;
	border-collapse: collapse;
	font-size: 10pt;  
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;  
	color: rgb(27, 20, 20);
  }
  
  .tables {
	padding:0px;
	border: 1px solid #999;
    margin-left:15%; 
    margin-right:15%;
	table-layout: fixed;
  }
 .tables td {
	border: 1px solid #999;
	padding: 0.5rem;
  }
.tables th {
	border: 1px solid #999;
	padding: 0.5rem;
  }
.nav-table{
	padding:0px;
	border: none;
    margin-left:15%; 
    margin-right:15%;
  }
input[name='RiskLevel'] {
    pointer-events: none;
	background-color: #eae9e5;
	border-style: none;
   }
input[name='rid'] {
    pointer-events: none;
	background-color: #eae9e5;
	border-style: none;
   }
   input[name='category'] {
    pointer-events: none;
	background-color: #eae9e5;
	border-style: none;
   }